body{
    font-family: Arial, sans-serif;
    color:#333;
}


/* ========== NAVBAR ========== */

.navbar{
    padding:20px 0;
    background:white;
}

.logo img{
    height: 100px;   /* adjust size */
    width:auto;
    vertical-align:middle;
}


.menu{
    text-align:right;
}

.menu a{
    margin:0 12px;
    text-decoration:none;
    color:#333;
    font-size:14px;
}

.user{
    margin-left:20px;
    background:#eaf1ff;
    padding:6px 12px;
    border-radius:15px;
    font-size:13px;
}


/* ========== HERO ========== */

.hero{
    padding:70px 0;
}
.hero-right{
    text-align: center;
    padding-top: 40px;   /* this creates gap from top */
}

.hero-left h1{
    font-size:40px;
    line-height:1.3;
}

.hero-left span{
    color:#4a90ff;
}

.hero-left p{
    margin:18px 0;
    color:#666;
}

.hero-btn{
    background:#4a90ff;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:6px;
    cursor:pointer;
}

.hero-right img{
    width:70%;
    position: relative;
    bottom: 50px;
}


/* ========== OVERVIEW BAR ========== */

/* ========== ACHIEVEMENTS BAR ========== */

.overview{
    background:#4a90ff;
    color:white;
    padding:25px 0;
}

/* Left text */

.achievement-title{
    font-size:18px;
    font-weight:bold;
    display:flex;
    align-items:center;
    margin: 10px;
    padding-top: 20px;
}

/* Right stats container */

.achievement-stats{
    text-align:center;
}

/* Each stat */

.stat h3{
    font-size:22px;
    margin-bottom:4px;
}

.stat p{
    font-size:13px;
    opacity:0.9;
}

